SDL2_image.dll
SDL2_ttf.dll
SDL2.dll
out/*.o
client
server
tests
tests.exe
.DS_Store
bin/AntGameServer
bin/AntGameServer.exe
bin/mapMaker
bin/mapMaker.exe
bin/mapMakerSmall
bin/mapMakerSmall.exe
dumpLog
bin/dummyClient
bin/dummyClient.exe
PyCode/include/*
PyCode/libs/*
PyCode/AntGame.pyd
PyCode/AntGame.so
PyCode/AntGamemodule.o
PyCode/backups/
*.dll
__pycache__/
logs/*.log
source/AntGame.egg-info
AntGameModule/dist/
AntGameModule/AntGame.egg-info/
