src
SDL2_image.dll
SDL2_ttf.dll
SDL2.dll
.vscode
out/*.o
client
server
tests
tests.exe
.DS_Store
bin/AntGameServer
bin/AntGameServer.exe
bin/mapMaker
bin/mapMaker.exe
bin/mapMakerSmall
bin/mapMakerSmall.exe
dumpLog
bin/dummyClient
bin/dummyClient.exe
AntGameModule/include/*
AntGameModule/libs/*
AntGameModule/AntGame.pyd
AntGameModule/AntGame.so
AntGameModule/AntGamemodule.o
*.dll